body {
    background-color: #EEF9BF;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
body > p {
    margin: 40px 0px;
    margin-bottom: 26px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 56px;
    line-height: 66px;
    text-align: center;
    letter-spacing: -0.004em;
    color: #75B79E;
}
.cartas {
    width: 100%;
    max-width: 906px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.cartas > p {
    text-align: center;
}
.carta {
    width: 117px;
    height: 146px;
    margin: 17px;
    cursor: pointer;
    transform-style: preserve-3d;
    transition: 0.3s;
    position: relative;
    
}
.carta:active {
    transform: scale(0.97);
}
/* ativar no js, não esqueça*/
.carta.virada {
    transform: rotateY(180deg);
}
.face-levantada, .face-abaixada {
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    padding: 17px;
    background-color: #A7E9AF;
    border: 1px solid #99CEA8;
    box-sizing: border-box;
    border-radius: 5px;
    position: absolute;
    
}
.face-levantada {
    background-color: #ffffff;
    transform: rotateY(180deg);
    
}
.relogio {
    width: 100px;
    height: 30px;
    font-family: 'Roboto';
    font-style: normal;
    position: absolute;
    top: 0;
    right: 0;
    background-color: #ffffff;
    border: solid 2px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
  
}
.creditos {
    font-family: 'Roboto';
    font-style: normal;
    font-size: 36px;
    margin: 100px;
}

.relogio-block {
    display: none;
}

@media(max-width: 767px) {
    body > p {
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: -0.004em;
    } 
    .cartas > p {
    font-family: 'Roboto';
    font-style: normal;
    font-size: 36px;
    margin: 100px;       
}
}

