body {
    background-color: #EEF9BF;
    display: flex;
    flex-direction: column;
    align-items: center;
}
body > p {
    margin: 40px 0px;
    margin-bottom: 26px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 56px;
    line-height: 66px;
    letter-spacing: -0.004em;
    color: #75B79E;
}
.cartas {
    width: 906px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.carta {
    width: 117px;
    height: 146px;

    margin: 17px;

    background-color: #A7E9AF;
    

    border: 1px solid #99CEA8;
    box-sizing: border-box;
    border-radius: 5px;

    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;

}
.carta > img, .carta-selecionada > img {
    width: 100px;
    height: 100px;
}
.carta-selecionada {
    background-color: #ffffff; 
}
.restrita {
    display: none;
}
@media(max-width: 767px) {
    body > p {
        font-size: 36px;
        line-height: 42px;
        text-align: center;
    }
}